.button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        border-radius: 10px;
        box-shadow: none;
        font-family: "Roboto";
        font-weight: bold;
        color: #585858;
        letter-spacing: 1.5px;

        &:hover {
            background-color: #585858;
            color: #ffffff;
        }

        &:active {
            background-color: #868686;
        }

        &:focus, :target {
            outline: none;
        }
    }
}