.simpleInputGroup {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #a8a8a8;
    max-width: 150px;
    margin: 20px;
    border-radius: 10px;

    input {
        border-radius: 10px;
        border: none;
        outline: none;
        padding-left: 10px;
    }

    .label {
        margin: 5px;
        color: #ececec;
    }
}